body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 90vh;
    background-color: rgb(247, 251, 255);
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 900px;
    border: 3px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}
h1 {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    background-image: linear-gradient(rgb(0, 145, 255), rgb(20, 20, 255));
    color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
p{
    font-size: 20px;
}
span{
    font-size: 25px;
    font-weight: bold;
    color: blue;
}

